.body {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  color: white;
  text-align: center;
  border-radius: 25px;
  background-color: #a887dd;
  margin: 20px;
}

.carousel-container {
  background-color: aqua;
  display: grid;
  justify-content: center;
}

.carousel-item {
  width: 100px;
  height: 100px;
  background-color: red;
}

.application-info {
  background-color: #d3c3ee;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 25px; 
}

.app-info-title {
  color: white;
  font-size: 25px;
  font-weight: bold;
  height: 40px;
  
}

.pathway-title {
  color: white;
  font-size: 25px;
  font-weight: bold;
  height: 30px;
  margin-top: 10px;
  
}